<!-- 
    <footer>
        <div class="container">
            <div class="footer-links">
                <p>&copy; 2024 Medical Clinic. All rights reserved.</p>
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Service</a></li>
                </ul>
            </div>
        </div>
    </footer> -->

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="footer-logo">
                    <img src="../../MUB Medical center Logo/LOGO PNG-01.png" alt="Medical Clinic Logo">
                </div>
    
                <div class="footer-details">
                    <div class="contact-info">
                        <p><i class="fa-solid fa-location-dot"></i> 123 Medical Clinic St, City, Country</p>
                        <p><i class="fa-solid fa-envelope"></i> info@medicalclinic.com</p>
                        <p><i class="fa-solid fa-phone"></i> +123 456 7890</p>
                    </div>
    
                    <div class="social-links">
                        <a href="https://www.facebook.com" target="_blank">
                   <a href="https://www.facebook.com/share/8ZwfG2AgzZx1T31Y/?mibextid=LQQJ4d">   
                     <i class="fa-brands fa-facebook"></i> </a>
                        </a>
                        <a href="https://wa.me/923313515744" target="_blank">
                            <i class="fa-brands fa-whatsapp"></i> 
                        </a>
                        <a href="tel:+923313515744">
                            <i class="fa-solid fa-mobile"></i>  
                        </a>
                    </div>
    
                    <!-- <div class="footer-links">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Service</a></li>
                        </ul>
                    </div> -->
    
                    <p>&copy; 2024 Medical Clinic. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    
