
    <header>
        <nav>
          <div class="logo">  <img src="../../MUB Medical center Logo/LOGO PNG-01.png" alt=""> </div>
          <div class="menu-icon" id="menu-icon">
            <i class="fa-solid fa-bars"></i>
          
          </div>
          <ul class="nav-links" id="nav-links">
            <li><a href="/index.html"> <b> Home </b></a></li>
            <li><a href="../Pages/about.html"><b> About </b></a></li>
            <li class="dropdown">
              <a href="#"><b> Services </b></a>
              <ul class="dropdown-content">
                <li><a href="../Pages/cardiology.html"  class="drop_a"> <b> Cardiology </b></a></li>
                <li><a href="../Pages/gynocologist.html" class="drop_a"> <b> Gynecology </b></a></li>
                <li><a href="../Pages/orthopedic.html" class="drop_a"><b> Orthopedic</b></a></li>
                <li><a href="../Pages/urology.html" class="drop_a"><b> Urology </b></a></li>
                <li><a href="../Pages/gastroentology.html" class="drop_a"><b> Gastroenterology </b></a></li>
                <li><a href="../Pages/ent.html" class="drop_a"><b> ENT </b></a></li>
                <li><a href="../Pages/generalsurgery.html" class="drop_a"><b> General Surgery </b></a></li>
                <li><a href="../Pages/plasticsurgery.html" class="drop_a"><b> Plastic Surgery </b></a></li>
              </ul>
            </li>
            <li><a href="../Pages/doctor.html"> <b> Doctors </b></a></li>
            <li><a href="../Pages/facilities.html"> <b> Facilities </b></a></li>
            <li><a href="../Pages/contactus.html"> <b> Contact Us </b></a></li>
          </ul>
        </nav>
      </header>
    
