<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/public/css/body.css">
    <link rel="stylesheet" href="/public/css/services.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Gastroenterology</title>
</head>
<body>
   
     
    
    <div id="navbar"></div>
    <section class="header">
        <div class="header-background">
            <div class="overlay">
                <div class="title-box">
                    <h1>Gastroenterology</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <p>
                At MUB Hospital, we are committed to excellence in digestive health care. Our Gastroenterology and Hepatology Department offers world-class diagnostic and therapeutic services for diseases related to the gastrointestinal (GI) tract, liver, and pancreas. Led by a team of highly qualified gastroenterologists and hepatologists, we deliver compassionate care with the most advanced medical technologies available.
                </p>

                <h3>Key Services:</h3>
                <ul>
                    <li> <b> Comprehensive Diagnostic & Therapeutic Care:</b>  Our department provides a range of diagnostic services including endoscopy, colonoscopy, and advanced imaging. We offer therapeutic interventions such as liver biopsies, GI tract surgeries, and treatments for inflammatory bowel diseases.</li>
                    <li>
                       <b> Endoscopy Unit: </b> Equipped with cutting-edge technology, our Endoscopy Unit performs a wide range of procedures, including upper GI endoscopy, lower GI endoscopy, endoscopic retrograde cholangiopancreatography (ERCP), and endoscopic ultrasound (EUS). These advanced techniques enable us to diagnose and treat conditions such as ulcers, tumors, and biliary duct blockages with precision and minimal discomfort.
                    </li>
                    <li>
                    <b>    Hepatology Services: </b> Our expert hepatologists provide specialized care for liver diseases, including hepatitis, cirrhosis, and liver cancer. We also manage pre- and post-operative care for liver transplant patients. At MUB Hospital, we aim to offer the best outcomes for patients with chronic liver conditions.
                    </li>
                </ul>
                <h3>Inpatient and Outpatient Care:</h3>
                <ul>
                    <li>
                      <b>  Inpatient Facilities: </b> We offer a dedicated 40-bed inpatient unit designed to provide round-the-clock care for patients with acute GI and liver issues. This facility includes an Intensive Care Unit (ICU) for critically ill patients and a high-dependency unit to manage complex cases.
                    </li>
                    <li>
                     <b>  Outpatient Clinics: </b>  Our GI and Liver Clinic operates every Monday and Saturday, serving as a comprehensive evaluation and follow-up center for patients. We see more than 30,000 patients annually, delivering personalized care for conditions such as acid reflux, gastrointestinal bleeding, and liver disease.
                    </li>
                    <li>
                       <b> Pediatric GI Clinic: </b> We also provide a Pediatric Gastroenterology Clinic, specializing in GI and liver diseases in children. Our pediatric team manages conditions like congenital liver diseases, celiac disease, and pediatric liver transplants with care and precision.
                    </li>
                </ul>

                <h3>Our Vision:</h3>
                <p>At MUB Hospital, we strive to push the boundaries of medical innovation through continuous research, clinical trials, and patient-centered care. Our Gastroenterology and Hepatology Department is committed to advancing healthcare with the latest technology, cutting-edge treatments, and compassionate care.

                </p>

        </div>
    </section>

    


<div id="footer"></div>



    <script src="/public/js/boierplate.js"></script>
<script src="/public/js/script.js"></script>    
</body>
</html>