<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../../public/css/body.css">
    <link rel="stylesheet" href="../../public/css/services.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Orthopedic</title>
</head>
<body>
   
     
    
    <div id="navbar"></div>
    <section class="header">
        <div class="header-background">
            <div class="overlay">
                <div class="title-box">
                    <h1>Orthopedic and Spine</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container">
            <p>
                At MUB Trust Hospital’s Orthopedic and Spine Department, we are committed to providing comprehensive care for musculoskeletal disorders. With a focus on patient well-being, our team of experienced orthopedic surgeons, spine specialists, and rehabilitation experts work together to offer personalized treatments for pain relief and mobility restoration.

                Our department is equipped with modern diagnostic tools and advanced surgical facilities, ensuring high-quality care in both emergency and elective surgeries. Whether it’s trauma, joint replacement, or spine care, we are dedicated to restoring your quality of life.
                </p>

                <b>Key Services:</b>
                <ul>
                    <li>24/7 Emergency Care for orthopedic trauma</li>
                    <li>Joint Replacement Surgeries including total knee and hip replacements</li>
                    <li>Spine Care with treatments for back and neck disorders</li>
                    <li>Arthroscopic Surgery for sports injuries, ligament reconstructions, and cartilage repairs</li>
                    <li>Comprehensive Rehabilitation with physiotherapy and pain management services to aid recovery</li>
                </ul>
                <b>Facilities:</b>
                <ul>
                    <li>Fully equipped operation theaters designed for complex orthopedic procedures</li>
                    <li>Advanced imaging services including X-ray, CT scan, and MRI</li>
                </ul>
                <p>Our mission is to help patients regain their mobility and lead pain-free lives, guided by a compassionate approach and the latest medical innovations.</p>
        </div>
    </section>

    


<div id="footer"></div>



    <script src="../../public/js/boierplate.js"></script>
<script src="../../public/js/script.js"></script>    
</body>
</html>
